h1 {
	 background-color:lightblue;
	 text-align:center;
}
p {
	font-size: 18px;
	color:seashell;
	
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;	
}
.button2 {background-color: #008CBA;} /* Blue */
body { 
background-image: url("shootingstar.gif");
	<button>Default Button</button>
}

div{
  border:15px solid lavender;
}

 
